{{! Partial for a single post }}
<div class="post">
    <div class="post-header">
        <div class="post-avatar">
            <!-- the user's avatar -->
            <img src="{{user.avatar_url}}" alt="User Avatar">
        </div>
        <h4 class="userName">{{post.username}}</h4>
    </div>
    
    <div class="post-content preserve-newlines">
        <!-- the post -->
        <p>{{content}}</p>       
    </div>
    <div class="post-status-bar">
            <!-- everything that is shown in the status bar -->
            <!-- Heart = ♥ -->
            <!-- font awesome  trashcan = <i class="fas fa-trash-alt"> </i>-->
            <hr class="solid class-divider">
            <div class="status-display">
                <button onclick="handleLikeClick(event)" data-id="{{post.id}}" class="like-button">♥</button>
                <button onclick="handleDeleteClick(event)" data-id="{{post.id}}" class="delete-button"><i class="fas fa-trash-alt"></i></button>
                <p id="like-count">{{post.likes}}</p><p> likes</p>
                <p>Posted By {{post.username}} on {{post.timestamp}}</p>
            </div>
    </div> 
</div>

<script>
    function handleLikeClick(event) {
        const postId = event.target.getAttribute('data-id');

        fetch(`/like/${postId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                event.target.innerText = `♥ ${data.likes}`;
            } else {
                alert('Failed to like the post.');
            }
        })
        .catch(error => console.error('Error:', error));
    }

    function handleDeleteClick(event) {
        const buttonElement = event.target.closest('.delete-button');
        const postId = buttonElement.getAttribute('data-id');

        fetch(`/delete/${postId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                document.querySelector(`.post[data-id="${postId}"]`).remove();
            } else {
                alert('Failed to delete the post.');
            }
        })
        .catch(error => console.error('Error:', error));
    }
</script>